body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background: #35424a;
    transition: width 0.3s ease;
    overflow: hidden;
}

.burger-menu.open {
    width: 250px;
}

.burger-menu .uk-nav {
    padding: 10px;
}

.burger-menu .uk-nav li a {
    color: white;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.burger-menu .uk-nav li a .nav-text {
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.burger-menu .uk-nav li a .nav-text {
    transform: translateX(-200%);
}

.burger-menu.open .uk-nav li a .nav-text {
    transform: translateX(0);
}